<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SheikhaniGroupCommunication.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>10</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>03BD0D3B7368B3EA60217017B7426038B1FEC551</string>
				<key>dateExpires</key>
				<string>16/08/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>03BD0D3B7368B3EA60217017B7426038B1FEC551</string>
						<key>dateExpires</key>
						<string>16/08/2024</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UKLC88P7LF</string>
						<key>name</key>
						<string>SHEIKHANI GROUP INC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.10</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UKLC88P7LF.com.sheikhani.communication</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>UKLC88P7LF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SheikhaniGroupCommunication.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>407d2ec6-c516-43aa-aacf-b9af7e787fb5</string>
				<key>dateExpires</key>
				<string>16/08/2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.sheikhani.communication</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UKLC88P7LF</string>
				<key>name</key>
				<string>SHEIKHANI GROUP INC</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.10</string>
		</dict>
	</array>
</dict>
</plist>
